[
  {
    title: "MDES"
    group: "Tools"
    paths: [
      "~/ROOT/codes/github/Tools/MDES"
    ]
    color: "#A9DC76"
    devMode: true
  }
  {
    title: "Dropbox"
    group: "Config"
    paths: [
      "~/Dropbox"
    ]
    color: "#FC9867"
  }
  {
    title: "SSH"
    group: "Config"
    paths: [
      "~/.ssh"
    ]
    color: "#FC9867"
  }
  {
    title: "Caliburn Micro"
    group: "MVVM"
    paths: [
      "~/ROOT/codes/github/UWP/Caliburn.Micro"
    ]
    color: "#3381EA"
  }
  {
    title: "Xamarin Forms"
    group: "MVVM"
    paths: [
      "~/ROOT/codes/github/UWP/Xamarin.Forms"
    ]
    color: "#3381EA"
  }
]